body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;   
    width: 100%;
    background:linear-gradient(to bottom, #68eacc 0%, #497be8 0%) ;
}
.container {
    margin: 120px auto;
    max-width: 280px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
}